@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;300;400;500&family=Open+Sans:wght@300;400&family=Raleway:wght@100;400;500;600&display=swap');
:root {
  --main-color: #094067;
  --second-color: #BAD7E9;
  --p-color: #5f6c7b;
  --btn-color:  #3C84AB;
  --main-font: 'Raleway', sans-serif;
  --heading-font: 'Bitter', sans-serif;
  --button-font: 'Open Sans', sans-serif;
}

* {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* font */
.fw-500 {
  font-weight: 500;
}

.fw-900 {
  font-weight: 900;
}

.fw-700 {
  font-weight: 700;
}

h1{
  font-size: 40px !important;
  font-family: var(--heading-font);

}
h2{
  font-size: 25px !important;
  font-family: var(--heading-font);
}

h3{
  font-size: 20px !important;
  font-family: var(--heading-font);
}

h4{
  font-size: 15px !important;
  font-family: var(--heading-font);
}
h5{
  font-size: 13px !important;
  font-family: var(--heading-font);
}

p {
  color: var(--p-color);
  font-family: var(--main-font);
}

.border-radius-10 {
  border-radius: 10px;
}

nav {
  font-family: var(--main-font);
}

.logoNavbar {
  width: 44px;
}
.logoFooter{
  width: 44px;
}
/* button */
.btnLogin {
  background-color: var(--btn-color);
  font-family: var(--button-font);
  padding: 10px 25px;
}
.btnLogin:hover {
  background-color: var(--main-color);
}

.btnDetail{
  background-color: var(--btn-color);
  font-family: var(--button-font);
  padding: 10px 25px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btnDetail:hover{
  background-color: var(--main-color);
}
.btnLogin span {
  text-decoration: none;
  color: white;
}

.button1 {
  font-family: var(--button-font);
  display: inline-block;
  background-color: var(--btn-color);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;

}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}


.heroImage {
  width: 90%;

}

.heroText h1{
  margin: 0;
  padding: 0;
  font-family: var(--heading-font);
}

.card-img-top {
  width: 9rem !important;
  margin-top: 40px;
}

/* poli */
.card:hover {
  color: #fff;
  background: var(--second-color);
}

.iconsPoli {
  transition: 750ms;
}

.iconsPoli:hover {
  transform: scale(1.2);
  margin: 30px;
}

/* dokter */
.slider {
  width: 100%;
}

.slider input {
  display: none;
}

.dokter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
  overflow: hidden;
  font-family: var(--heading-font);
  /* border-radius: 10px; */

}

.dokter .heading h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;

}

.dokter .heading h2 span {
  color: var(--btn-color);
}

.dokter .item {
  width: 450px;
  padding: 30px;
  background-color: var(--second-color);
  position: absolute;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer;
}

.dokter .item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid var(--main-color);
}



.dokter .item h4 {
  padding: 10px;
  background-color: var(--main-color);
  border-radius: 20px;
  color: #ddd;
  margin-left: 20px;
  margin-right: 20px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--second-color);
  margin: 7px;
  transition-duration: 0.2s;
}

#t-1:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-4"],
#t-5:checked~.dots label[for="t-5"] {
  transform: scale(2);
  background-color: var(--main-color);
}

#t-1:checked~.dots label[for="t-2"],
#t-2:checked~.dots label[for="t-1"],
#t-2:checked~.dots label[for="t-3"],
#t-3:checked~.dots label[for="t-2"],
#t-3:checked~.dots label[for="t-4"],
#t-4:checked~.dots label[for="t-3"],
#t-4:checked~.dots label[for="t-5"],
#t-5:checked~.dots label[for="t-4"] {
  transform: scale(1.5);
}

#t-1:checked~.dokter label[for="t-5"] {
  transform: translate3d(1200px, 0, -360px) rotateY(-45deg);
}

#t-1:checked~.dokter label[for="t-4"],
#t-2:checked~.dokter label[for="t-5"] {
  transform: translate3d(900px, 0, -270px) rotateY(-35deg);
  z-index: 1;
}

#t-1:checked~.dokter label[for="t-3"],
#t-2:checked~.dokter label[for="t-4"],
#t-3:checked~.dokter label[for="t-5"] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}

#t-1:checked~.dokter label[for="t-2"],
#t-2:checked~.dokter label[for="t-3"],
#t-3:checked~.dokter label[for="t-4"],
#t-4:checked~.dokter label[for="t-5"] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}

#t-2:checked~.dokter label[for="t-1"],
#t-3:checked~.dokter label[for="t-2"],
#t-4:checked~.dokter label[for="t-3"],
#t-5:checked~.dokter label[for="t-4"] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}

#t-3:checked~.dokter label[for="t-1"],
#t-4:checked~.dokter label[for="t-2"],
#t-5:checked~.dokter label[for="t-3"] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#t-5:checked~.dokter label[for="t-2"],
#t-4:checked~.dokter label[for="t-1"] {
  transform: translate3d(-900px, 0, -270px) rotateY(35deg);
}

#t-5:checked~.dokter label[for="t-1"] {
  transform: translate3d(-1200px, 0, -360px) rotateY(45deg);
}

#t-1:checked~.dokter label[for="t-1"],
#t-2:checked~.dokter label[for="t-2"],
#t-3:checked~.dokter label[for="t-3"],
#t-4:checked~.dokter label[for="t-4"],
#t-5:checked~.dokter label[for="t-4"],
#t-5:checked~.dokter label[for="t-5"] {
  z-index: 4;
}

/* Profile */
.about {
  font-family: var(--heading-font);
}


.about .heading h2 {
  margin: 0;
  padding: 0;
}

.about .heading h2 span {
  color: var(--btn-color);
}

.about .heading p {
  font-size: 15px;
  line-height: 1.7;
  color: var(--p-color);
  margin: 20px 0 60px;
}



.about h2 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.about p {
  font-size: 15px;
  line-height: 1.7;
  color: var(--p-color);
  margin: 20px 0 15px;
}

.about .textDeskripsi {
  text-align: justify;
}

.about h3 {
  text-align: center;
}

.about h5 {
  font-weight: 500;
  margin: 8px 0;
}

.about h5 i {
  color: var(--second-color);
  margin-right: 10px;
}
.imgDoc a img{
  box-shadow: 3px 3px 1px rgba(0,0,0,0.4);
  
}
.imgDoc:hover{
  transform: scale(1.03); 
}

/* footer */
.footer {
  background-color: var(--main-color);
  border-radius: 30px 30px 0 0 ;
}

.footer h3{
  font-family: var(--main-font) !important;
}


@media screen and (max-width: 900px) {
  nav ul li:hover {
    background-color: var(--main-color);
  }
  .heroImage img{
    display: none;
  }
}

@media screen and (min-width: 992px) {
  nav ul li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    transition: .3s;
    background-color: var(--main-color);
    transform: translateY(0px);
  }
  
}